.season {
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5%;
    cursor: pointer;
}


.season .container p {
    text-align: center;
    font-size: 30px;
}
.season .container .contents .season-title .title{
    position: fixed;
    color: wheat;
    font-size: 30px;
}


.season .container .contents .season-title .title1{
    top: 20%;
    left: 20%;

}
.season .container .contents .season-title .title2{
    top: 20%;
    left: 25%;

}
.season .container .contents .season-title .title3{
    top: 20%;
    left: 30%;

}
.season .container .contents .season-title .title4{
    top: 20%;
    left: 35%;

}